<div class="w-full h-full flex justify-center">
  <form
    class="w-3/6 h-auto flex flex-col justify-center align-center gap-2"
    (ngSubmit)="login()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        type="password"
        name="password"
        required
      />
    </mat-form-field>

    <div class="flex flex-row justify-center gap-2">
      <button mat-raised-button color="primary" type="submit">Login</button>
      <button
        mat-raised-button
        color="secondary"
        type="button"
        (click)="goToSignUp()"
      >
        Sign Up
      </button>
    </div>
  </form>
</div>
